@media (min-width: 0px) {
.section figure {
    margin: 0 auto !important;
}

.section img {
    margin: 5% 0 1%;
}

.single-column img {
    width: 100%;
}

.section figcaption {
    padding: 0 5% 20%;
}

.two-columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.two-columns img {
    padding-top: 5%;
    box-sizing: border-box;
    max-width: 100%;
}

.two-columns.mixed img {
    max-width: 40%;
}
}

@media (min-width: 768px) {
.section img {
}

.single-column img {
    padding: 5% 5% 0;
    width: 50%;
}

.section figcaption {
    padding-bottom: 5%;
}

.two-columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
}

:root {
    --bg-first-color: #90664F;
    --bg-second-color: #38516A;
    --bg-third-color: #38516A;
    --bg-fourth-color: #90664F;
    --bg-fifth-color: #38516A;
    --bg-sixth-color: #90664F;
    --bg-seventh-color: #222;
    --footer-font-color: #38516A;

    --heading-font: 'Abril Fatface', cursive;
    --main-font: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0 3em;
    color: #38516a;
}

.brand-logo {
    padding: 16px 0;
}

.brand-logo a {
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: bold;
    color: var(--footer-font-color);
    opacity: 0.8;
}

.brand-logo a:hover {
    opacity: 1;
    text-decoration: underline;
}

.Gallery-Container {
    margin: 64px 0;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    overflow: scroll;
    height: 57vh;
}

.Gallery-Container .Gallery-Block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #c0cdda;
    margin-right: 450px;
}

.Gallery-Container .Gallery-Block.block-0 {
    width: 65%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: #ffc2c4;
    margin-right: 300px;
}

.Gallery-Container .Gallery-Block.block-1 {
    background: linear-gradient(#7aa0bf, #d6e7f0);
    background: #ffc2c4;
}
.Gallery-Container .Gallery-Block.block-2 {
    background: linear-gradient(#efc38e, #7aa0bf);
    background: #ff7827;
}
.Gallery-Container .Gallery-Block.block-3 {
    background: linear-gradient(#b85d5a, #efc38e);
    background: #000000;
}
.Gallery-Container .Gallery-Block.block-4 {
    background: linear-gradient(#d6e7f0, #b85d5a);
    background: #ffffff;
}

.Gallery-Container figure {
    width: 100%;
    margin: 0 !important;
}

.Gallery-Container img {
    max-height: 57vh;
    display: block;
}

.Gallery-Block div:nth-child(even) img {
    padding-left: 16px;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    color: #38516A;
    text-align: center;
    /*background-image: url('./shared/grainy_texture.png');*/
    background-color: #EDEDE9;
    font-family: var(--main-font);
}

.heading {
    font-family: var(--heading-font);
    font-size: 50px;
}

.Scroll-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 100%;
}

.section {
    text-align: center;
    width: 100%;
    font-family: var(--main-font);
}

.first {
    /*background-image: url('./grainy_texture.png'), linear-gradient($bg-first-color, $bg-second-color 75%);*/
    color: var(--bg-sixth-color);
}

.second {
    /*background-image: url('./grainy_texture.png'), linear-gradient($bg-second-color, $bg-third-color 75%);*/
    color: var(--bg-fifth-color);
}

.third {
    /*background-image: url('./grainy_texture.png'), linear-gradient($bg-third-color, $bg-fourth-color 75%);*/
    color: var(--bg-fifth-color);
}

.fourth {
    /*background-image: url('./grainy_texture.png'), linear-gradient($bg-fourth-color, $bg-fifth-color 75%);*/
    color: var(--bg-third-color);
}

.fifth {
    /*background-image: url('./grainy_texture.png'), linear-gradient($bg-fifth-color, $bg-sixth-color 75%);*/
    color: var(--bg-second-color);
}
.footer {
    /*background-image: url('./grainy_texture.png');*/
    /*background-color: var(--bg-seventh-color);*/
    color: var(--footer-font-color);
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

footer p, footer a {
    font-family: var(--main-font);
    font-size: 0.9rem;
    margin: 4px 0;
    color: var(--footer-font-color);
    text-decoration: none;
    font-style: italic;
    display: flex;
    justify-content: flex-end;
    opacity: 0.8;
}

footer:hover p, footer:hover a{
    opacity: 1;
    text-decoration: underline;
}


/*# sourceMappingURL=/src.f41506f2.css.map */