popup-box {
    width: auto;
    height: 100vh;
    z-index: 99999;
    position: fixed;
}

.heading {
    font-size: 3.7em;
    line-height: 1.7;
}

.subheading {
    font-size: 1.5em;
}

.main-content {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-flow: row !important;
}

.overlay-container {
    width: 40%;
}

.desktop-container {
    width: 60%;
    overflow: hidden;
}

.project-body {
    display: flex;
    flex-flow: row wrap;
}

.project-body-details, .project-body-image-container {
    width: calc(100% / 2);
}

.project-body-image-container {
    display: flex;
    justify-content: center;
}

.project-body-image-container img {
    max-height: 45vh;
}

.project-body-image-container img.potato {
    background-image: url("../../../public/anna.png");
}

#blurb {
    font-size: 1.3em;
    margin: 0;
}

.icons {
    font-size: 1.7em;
}

.footer-scroll-area {
    height: auto;
    font-size: 0.9em;
}

.bottom-note {
    font-size: 1em;
}
