[submodule "100-days"]
	path = 100-days
	url = https://github.com/iguannalin/100-days-websites.git
[submodule "catchthedragon"]
	path = catchthedragon
	url = https://github.com/iguannalin/catchthedragon.git
