[submodule "100-days"]
	path = 100-days
	url = https://github.com/iguannalin/100-days-websites.git
[submodule "private-work"]
	path = private-work
	url = https://github.com/iguannalin/private-work.git
