.idea/
node_modules/
.cache/
dist
package-lock.json*
dist/
docs/evn-nike-demo/
docs/dev-portfolio/
docs/dev-filmotography/
docs/dev-bookshelf/
docs/dev-congratti/
docs/.DS_Store
.DS_Store
docs/public/.DS_Store
