@import url(background.css) (min-width: 0px);
@import url(small.css) (min-width: 0px);
@import url(large.css) (min-width: 800px);

:root {
  --default-bg: #fdfaf6;
  --default-text: rgb(35, 35, 35);
  --default-border: yellow;
}

.theme {
  background-color: var(--default-bg);
  color: var(--default-text);
}

@media (prefers-color-scheme: dark) {
  .theme {
    --default-bg: rgb(35, 35, 35);
    --default-text: rgb(89 255 66);
    --default-border: blue;
  }
}

html {
  display: block;
  width: 100%;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 24px;
  text-shadow: #acb5bd 1px 1px 6px;
  transition: all ease-in-out 0.2s;
}

#container {
  height: 100vh;
  width: 100vw;
}

#main {
  position: fixed;
  z-index: 1000;
}

#center {
  overflow-y: scroll;
}

#center > div:not(#greeting) {
  display: none;
}

#greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#greeting img {
  clip-path: circle(40% at 50% 50%);
  width: 100%;
}

span {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

span > span {
  display: flex;
  flex: 2;
}

span > span > img {
  width: 100%;
  object-fit: cover;
}

span > p {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  padding: 0 12px;
  flex-flow: column wrap;
}

a {
  text-shadow: 1px 0px 1px #4CAF50;
}