#main {
  display: flex;
  width: auto;
  height: 100%;
  flex-flow: row;
  justify-content: center;
  align-items: stretch;
}

#main div {
  box-sizing: border-box;
}

#top {
  display: none;
}

#left {
  display: flex;
  /* border: 2px solid red; */
  flex: 1;
  align-items: flex-start;
}

#center {
  display: flex;
  /* border: 2px solid blue; */
  flex: 4;
  padding: 16px 12px;
}

#right {
  display: flex;
  /* border: 2px solid green; */
  flex: 1;
}

#left, #right {
  padding: 16px 12px;
}

span img {
  max-width: 80%;
  max-height: 400px;
}

span p {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  padding: 0 12px;
}