body { height: 100vh; }

.flex-pane {
  height: 100%;
  overflow: scroll;
}

/* PHOTOS */
.flex-pane.panel img {
  height: auto;
  width: 100%;
  padding: 0.5em 0;
}

.flex-pane.body img {
  height: 100%;
  width: auto;
  padding: 0 0.5em;
}