.main {
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: column;
  justify-content: stretch;
  align-items: center;
}

.top {
  display: flex;
  border: 2px solid yellow;
  flex: 1;
  padding: 16px 12px;
}

.left {
  display: none;
}

.center {
  display: flex;
  flex: 25;
  border: 2px solid blue;
  padding: 16px 12px;
}

.right {
  display: none;
}
