#main {
  display: flex;
  width: 100vw;
  height: 100%;
  flex-flow: column;
  justify-content: stretch;
  align-items: center;
}

#main div {
  box-sizing: border-box;
}

#top {
  display: flex;
  width: 100%;
  /* border: 2px solid yellow; */
  flex: 1;
  padding: 16px 12px;
  justify-content: center;
  align-items: center;
  line-height: 18px;
}

#top label {
  visibility: hidden;
  position: absolute;
  z-index: 0;
}

#top select {
  width: 88%;
  z-index: 100;
}

#left {
  display: none;
  flex: 25;
  padding: 16px 12px;
  width: 100%;
}

#center {
  display: flex;
  flex: 25;
  border: 2px solid blue;
  padding: 16px 12px;
  width: 100%;
}

#right {
  display: none;
  flex: 25;
  padding: 16px 12px;
  width: 100%;
}
