.App {
    margin-top: 24px;
    font-family: 'Playfair Display', serif;
}

.App-container {
    display: flex;
    flex-flow: row wrap;
    margin-left: 40px;
}

.navigation {
    flex: 30%;
}

.content {
    flex: 70%;
}

ul {
    padding-left: 0;
    padding-right: 16px;
}

li {
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    padding-left: 16px;
    font-style: italic;
}

a:hover {
    font-weight: bold;
}

.project-button {
    border: none;
    background-color: transparent;
}
