$primary-font: 'Playfair Display', serif;
$secondary-font: 'Open Sans', sans-serif;

.App {
    margin-top: 24px;
    font-family: $primary-font;
    font-size: 12px;
}

.App-container {
    display: flex;
    flex-flow: row wrap;
    margin-left: 40px;
}

.navigation {
    flex: 30%;
}

.content {
    flex: 70%;
}

ul {
    padding-left: 0;
    padding-right: 16px;
    font-family: $secondary-font;
}

li {
    list-style: none;
    padding-left: 16px;
}

.project-button:hover {
    font-style: initial;
    cursor: pointer;
}

.project-button {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-style: italic;
    line-height: 2;
    text-decoration: underline;
    text-align: left;
}

a.project-button {
    margin-left: 8px;
    color: inherit;
}

.in-progress-label {
    padding-left: .4rem;
    word-break: break-all;
}

.Project {
    font-size: 1.3rem;
}

.project-link, .project-details {
    font-family: $secondary-font;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 90%;
}
