.App {
    margin-top: 24px;
    font-family: 'Playfair Display', serif;
}

li {
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    padding-left: 16px;
    font-style: italic;
}

a:hover {
    font-weight: bold;
}

.project-button {
    border: none;
    background-color: transparent;
}
