.App {
    margin-top: 24px;
    font-family: 'Playfair Display', serif;
}

li {
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    padding-left: 16px;
}

li:Hover {
    font-style: oblique;
}
