body {
  margin: 0;
  padding: 0 3em;
}

.Gallery-Container {
  height: 57vh;
}

.brand-logo {
  padding: 16px 0;
}

.Gallery-Container img {
  max-height: 57vh;
}

.Gallery-Container .Gallery-Block {
  margin-right: 450px;
  width: 100%;
}

.Gallery-Container .Gallery-Block.block-0 {
  height: 100%;
}