$bg-first-color: #EDEDE9;
$bg-second-color: #CCDEE7;
$bg-third-color: #EBD7C9;
$bg-fourth-color: #C4B99B;
$bg-fifth-color: #90664F;
$bg-sixth-color: #38516A;

.Scroll-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.section {
  display: flex;
  justify-content: center;
}

.section img {
  width: 50%;
  padding: 5%;
}

.two-columns {
}


.two-columns img {
  width: 40%;
}

.first {
  background-image: linear-gradient($bg-first-color, $bg-second-color);
}

.second {
  background-image: linear-gradient($bg-second-color, $bg-third-color);
}

.third {
  background-image: linear-gradient($bg-third-color, $bg-fourth-color);
}

.fourth {
  background-image: linear-gradient($bg-fourth-color, $bg-fifth-color);
}

.fifth {
  background-image: linear-gradient($bg-fifth-color, $bg-sixth-color);
}

.sixth {
  background-image: linear-gradient($bg-sixth-color, black);
}
