@import url(https://themes.googleusercontent.com/fonts/css?kit=-DBZiG6wLxERs-ipLN5V-Rk3mTAhZ73eBjaJsOYBEzhg3iIjkzrooWZqNg5xeByrbWhx2230K92fn2wQiOnoiw);

:root {
  --color-black: #000000;
  --color-blue: #1155cc;
  --body-font: "Inter", sans-serif;
  --heading-font: "IBM Plex Sans", sans-serif;

  --subtitle-font: "IBM Plex Mono", monospace;
  --color-gray: #666666;
  --color-light-gray: #d9d9d9;
  --color-purple: #9900ff;
  --font-size-0: 1.00rem; /* 16px */

  --font-size-1: 1.20rem; /* 19.2px */
  --font-size-2: 1.44rem; /* 23.04px */
  --font-size-3: 1.73rem; /* 27.65px */
  --font-size-4: 2.07rem; /* 33.18px */
  --font-size-5: 2.49rem; /* 39.81px */
  --font-size-m1: 0.83rem; /* 13.33px */
  --font-size-m2: 0.69rem; /* 11.11px */

  --color-white: #ffffff;
  --color-yellow: #ffff00;
}

@media only screen and (min-width: 0px) {
  :root {
    --font-size: 12px;
  }
}

@media only screen and (min-width: 800px) {
  :root {
    --font-size: 16px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  align-items: center;
  background-color: var(--color-light-gray);
  box-sizing: border-box;
  color: var(--color-black);
  display: flex;
  flex-flow: column;
  font-family: var(--body-font);
  font-size: var(--font-size);
  justify-content: flex-start;
  margin: 0 auto;
  padding: 12px 24px;
  width: 100%;
}

main {
  display: flex;
  flex-flow: column;
  max-width: 90ch;
  box-sizing: border-box;
  padding: 24px 6px 120px;
}

h1 {
  background-color: var(--color-yellow);
  color: var(--color-black);
  font-family: var(--heading-font);
  font-size: var(--font-size-5);
  font-weight: 200;
  margin: 45px 6px;
  width: fit-content;
}

h2 {
  background-color: var(--color-purple);
  color: var(--color-white);
  font-family: var(--heading-font);
  font-size: var(--font-size-4);
  font-weight: 200;
  margin: 45px 6px;
  width: fit-content;
}

h3 {
  background-color: var(--color-yellow);
  color: var(--color-black);
  font-family: var(--heading-font);
  font-size: var(--font-size-3);
  font-weight: 200;
  margin: 35px 6px;
  width: fit-content;
}

h4 {
  background-color: var(--color-purple);
  color: var(--color-white);
  font-family: var(--heading-font);
  font-size: var(--font-size-2);
  font-weight: 200;
  width: fit-content;
}

h5 {
  background-color: var(--color-purple);
  color: var(--color-white);
  font-family: var(--heading-font);
  font-size: var(--font-size-1);
  font-weight: 200;
  width: fit-content;
}

h6 {
  background-color: var(--color-purple);
  color: var(--color-white);
  font-family: var(--heading-font);
  font-size: var(--font-size-0);
  font-weight: 200;
  width: fit-content;
}

a {
  margin: 6px 0;
}

ul {
  align-items: flex-start;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  word-wrap: break-word;
}

p, li {
  font-family: var(--body-font);
  font-size: var(--font-size-0);
  line-height: 1.4em;
  margin: 6px 12px;
  max-width: min(75ch, 95vw);
  text-wrap-style: balance;
}

figure {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
}

figcaption, .subtitle {
  color: var(--color-purple);
  display: block;
  font-family: var(--body-font);
  font-size: var(--font-size-m1);
  font-style: italic;
  margin: 6px 0;
  max-width: min(75ch, 95vw);
  text-wrap-style: balance;
}

.subtitle, .quote {
  padding-left: 24px;
}

.quote {
  color: var(--color-purple);
  font-family: var(--body-font);
  font-size: var(--font-size-3);
  font-style: italic;
  margin: 20px 24px;
  max-width: min(30ch, 90vw);
}

div {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

div.columns {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  justify-content: center;
  width: 100%;
}

div:not(.columns) img {
  border: 2px solid var(--color-yellow);
  height: auto;
  margin: 6px auto;
  max-width: min(600px, 75%);
  width: auto;
}

div:not(.columns) img {
  border: 2px solid var(--color-yellow);
  height: auto;
  margin: 6px auto;
  max-width: min(600px, 75%);
  width: auto;
}

.video-container {
  background-color: #272727;
  border: 2px solid var(--color-yellow);
  display: block;
  height: min(450px, 50vh);
  margin: 6px auto;
  width: min(800px, 75%);
}

video, iframe {
  height: 100%;
  width: 100%;
}