@media print {
  :root {--color-accent: #3c3640;--color-main: #999996;--font-size: 8px;--font-size-0: 1.00rem;--font-size-1: 1.13rem;--font-size-2: 1.27rem;--font-size-3: 1.42rem;--font-size-4: 1.60rem;--font-size-5: 1.80rem;--font-size-m1: .89rem;--font-size-m2: .79rem;--color-table: darkgray}

  body {background-color: white;box-sizing: border-box;height: 8.5in;margin: .1in .05in;padding: 0;width: 11in}

  main {margin: 0 auto;max-width: 100%;padding: 0}

  main > div {place-content: flex-start}

  h1, h2, h3, h4, h5, h6 {margin: 0 12px 0 0}

  p, figcaption, .subquote, .quote {margin: 0 auto;max-width: 100%;padding: 2px;width: 100%}

  figcaption {font-size: 8px}

  .columns {max-height: 1.2in;overflow: clip;width: auto}

  /* figure {height: 1.5in;justify-content: flex-start;width: auto} */

  /* div:not(.columns) img {height: 90%;margin: 0 auto;max-width: unset;width: stretch} */

  .directory-container, .directory-container span, .directory-container li {font-size: 12px !important}

  ul.directory {padding: 6px 30px !important}
}