@import url(resume.css);

:root {
  --main-bg-color: #f9faffde;
  --shadow-color: #858ebc;
  --main-text-color: rgb(35, 35, 35);
}

html {
  display: block;
  width: 100%;
}

@page {
  size: 8.5in 11in;
  margin: 0.2in 0.5in;
}

@media print {
  body {
    font-size: 14px;
    margin: 0.2in 1in 0 0.5in !important;
  }

  a {
    color: inherit;
    font-style: italic;
    text-decoration: none;
  }
}

@media screen and (min-width: 0px) {
  body {
    font-size: 16px;
  }

  .grid {
    overflow-y: scroll;
  }

  #left,
  #right {
    height: auto;
  }
}

@media screen and (min-width: 900px) {
  body {
    font-size: 16px;
  }

  .grid {
    overflow-y: hidden;
  }

  #left,
  #right {
    height: 97%;
  }
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  display: flex;
  flex-flow: column wrap;
  font-family: "Times New Roman", serif;
  letter-spacing: -0.02em;
  line-height: 1.2em;
  margin: 0.5rem 1.5rem;
  place-content: center;
  text-wrap-style: balance;
}

.grid {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  height: 98vh;
  justify-content: center;
  max-width: 900px;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.grid::-webkit-scrollbar,
.grid div::-webkit-scrollbar {
  background: transparent; /* Chrome/Safari/Webkit */
  display: none;
  height: 0;
  width: 0;
}

#left,
#right {
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
  overflow-y: scroll;
  vertical-align: top;
}

#left {
  flex: 1 1 35ch;
  padding: 1.5em 0 0 1em;
}

#right {
  flex: 1 2 55ch;
  padding: 1.5em 0 2em 1em;
}

.description {
  padding: 6px 0;
}

.header p {
  color: #4a4a4a;
  font-style: italic;
  margin: 0.3em 0;
}

.header a {
  text-decoration: none;
}

.name {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -0.005em;
  line-height: 35px;
  margin-bottom: 0.5em;
  margin-top: 8px;
  max-width: 4ch;
}

a {
  color: #4a4a4a;
}

a:hover {
  background-color: #4a4a4a3f;
  color: #9fff2f;
  font-style: normal;
  text-decoration: underline;
}