html {
  display: block;
  width: 100%;
}

#container {
  background-color: white;
  width: 100vw;
  height: 100vh;
}

#container * {
  visibility: visible;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-shadow: var(--shadow-color) -2px 2px 8px;
  /* text-transform: lowercase; */
  margin: 0 auto;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}

@page {
  size: 8.5in 11in;
  margin: 0.5in 0.25in;
}

@media print {
  a {
    display: none !important;
  }
}
/* 
@media (min-width: 0px) {
  #sidebar {
    height: 10vh;
  }
}
@media (min-width: 900px) {
  #sidebar {
    height: 100vh;
  }
} */

#container {
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
}
#sidebar {
  width: 30vw;
  height: 100vh;
  overflow-wrap: break-word;
  padding: 24px 12px;
  box-sizing: border-box;
}
#main {
  width: 70vw;
  height: 100vh;
  /* padding: 24px 12px; */
  box-sizing: border-box;
}
#intro {
  margin: 72px 48px 0;
  max-width: 72ch;
  line-height: 32px;
  font-size: initial;
  white-space: pre-line;
}
footer {
  position: fixed;
  bottom: 48px;
  left: 12px;
}
footer div {
  padding: 12px;
}
h1 {
  margin-bottom: 48px;
}
h1 a, h1 a:hover {
  text-decoration: none;
  color: black;
  line-height: 18px;
  width: 7ch;
  display: block;
  font-weight: normal;
}
heading {
  font-size: 1.4em;
}
ul {
  margin: 18px 0;
  list-style: none;
  padding-inline-start: 12px;
}
li {
  font-size: 1.2em;
  margin: 8px 0 0 0;
}
a:hover, a:active {
  cursor: pointer;
  text-decoration: underline;
  background-color: yellow;
}

.details p:first-of-type, .sub-heading {
  font-style: italic;
  text-align: center;
}

p {
  font-size: 1.3em;
  padding: 8px 0 0 12px;
  line-height: 24px;
}

img {
  max-width: 80%;
}

iframe {
  border: none;
  padding: 16px 12px;
  box-sizing: border-box;
}

section {
  text-align: center;
}

.figcaption {
  margin: 0;
  padding-bottom: 12px;
  font-size: 1em;
  font-style: italic;
}