.heading {
    font-size: 3.7em;
    line-height: 1.7;
}

.subheading {
    font-size: 1.2em;
}

.overlay-container {
    width: 30em;
}

.project-body {
    display: flex;
    flex-flow: row wrap;
}

.project-body-details, .project-body-image-container {
    width: calc(100% / 2);
}

.project-body-image-container {
    display: flex;
    justify-content: center;
}

#blurb {
    font-size: 1.3em;
    margin: 0;
}

.icons {
    font-size: 1.7em;
}

footer {
    font-size: 0.9em;
}

.bottom-note {
    font-size: 1em;
}
