.heading {
    font-size: 2.5em;
    line-height: 1.6;
    /*width: 40%;*/
    min-height: 3.4em;
}

.overlay-container {
    width: 50%;
}

.project-body {
    display: flex;
    flex-flow: column;
}

.project-body-details, .project-body-image-container {
    width: 100%;
}

.project-body-image-container {
    display: flex;
    justify-content: center;
}

#blurb {
    font-size: 0.9em;
    margin-right: 2em;
}

.icons {
    font-size: 1.5em;
}

footer {
    font-size: 0.7em;
}

.bottom-note {
    font-size: 0.7em
}
