popup-box {
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    position: absolute;
}

.heading {
    font-size: 3em;
    line-height: 1.6;
    min-height: 3.4em;
}

.subheading {
    font-size: 1.5em;
}

.overlay-container {
    width: 60vw;
}

.desktop-container {
    width: 100vw;
    height: auto !important;
    z-index: 9999;
}

.project-body {
    display: flex;
    flex-flow: column;
}

.project-body-details, .project-body-image-container {
    width: 100%;
}

.project-body-image-container img {
    max-height: 40vh;
}

.project-body-image-container img.potato {
    background-image: url("../../../public/anna.png");
    height: 600px;
}

.project-body-image-container {
    display: flex;
    justify-content: center;
}

#blurb {
    font-size: 0.9em;
    margin-right: 2em;
}

.icons {
    font-size: 1.5em;
}

footer {
    font-size: 0.7em;
}

.footer-scroll-area {
    height: 30%;
}

.bottom-note {
    font-size: 0.7em
}
