.wrapper {
    width: 250px;
    height: 250px;
    border-radius: 5px;
    font-size: 14px;
}

.gallery img {
    height: 100%;
    width: auto;
}

.gallery-container .gallery-block {
    height: 100%;
    width: 100%;
}

.gallery-container .gallery-div-container {
    width: 100%;
    height: 100%;
}

.gallery-container figure {
    width: 100%;
    height: 100%;
}

.gallery-container img {
    height: 100%;
    display: block;
}

.header {
    font-size: 16px;
}
