.form-div {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 48px;
    font-size: 1.25rem;
    width: 100%;
}
.column-div {
    margin: 16px;
}
.form-button {
    font-size: 0.9rem;
    margin: 16px;
}
