.form-div {
    display: flex;
    flex-flow: column wrap;
    margin: 48px;
    font-size: 2rem;
    width: 50%;
}
.column-div {
    margin: 0 0 16px 0;
}
.form-button {
    font-size: 0.9rem;
    margin: 24px 16px auto;
}
