.form-div {
    display: flex;
    flex-flow: column wrap;
    margin: 48px;
    font-size: 2em;
    justify-content: center;
}

.column-div {
    margin: 16px 0 0 0;
}

.form-button {
    margin: 36px 16px 0;
}

.header p {
    font-size: 2.5em;
    line-height: 1.6;
}

#blurb {
    font-size: 0.9em;
    margin: 2em;
}

.icons {
    font-size: 1.5em;
}

footer {
    font-size: 0.7em;
}

.bottom-note {
    font-size: 0.7em
}
