@import url('./media-mobile.css') (min-width: 0px);
@import url('./media.css') (min-width: 768px);

:root {
    --bg-first-color: #90664F;
    --bg-second-color: #38516A;
    --bg-third-color: #38516A;
    --bg-fourth-color: #90664F;
    --bg-fifth-color: #38516A;
    --bg-sixth-color: #90664F;
    --bg-seventh-color: #222;
    --footer-font-color: #38516A;

    --heading-font: 'Abril Fatface', cursive;
    --main-font: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    color: #38516A;
    text-align: center;
    /*background-image: url('./shared/grainy_texture.png');*/
    background-color: #EDEDE9;
    font-family: var(--main-font);
}

.heading {
    font-family: var(--heading-font);
}

.Scroll-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 100%;
}

.section {
    text-align: center;
    width: 100%;
    font-family: var(--main-font);
}

.first {
    /*background-image: url('./grainy_texture.png'), linear-gradient($bg-first-color, $bg-second-color 75%);*/
    color: var(--bg-sixth-color);
}

.second {
    /*background-image: url('./grainy_texture.png'), linear-gradient($bg-second-color, $bg-third-color 75%);*/
    color: var(--bg-fifth-color);
}

.third {
    /*background-image: url('./grainy_texture.png'), linear-gradient($bg-third-color, $bg-fourth-color 75%);*/
    color: var(--bg-fifth-color);
}

.fourth {
    /*background-image: url('./grainy_texture.png'), linear-gradient($bg-fourth-color, $bg-fifth-color 75%);*/
    color: var(--bg-third-color);
}

.fifth {
    /*background-image: url('./grainy_texture.png'), linear-gradient($bg-fifth-color, $bg-sixth-color 75%);*/
    color: var(--bg-second-color);
}
.footer {
    /*background-image: url('./grainy_texture.png');*/
    /*background-color: var(--bg-seventh-color);*/
    color: var(--footer-font-color);
    width: 100%
}

.footer p {
    font-size: 0.9rem
}
