.section figure {
    margin: 0 auto !important;
}

.section img {
}

.single-column img {
    margin: 5% 0 1%;
    width: 100%;
}

.section figcaption {
    padding: 0 5% 20%;
}

.two-columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.two-columns img {
    padding-top: 5%;
}

.two-columns.mixed img {
    max-width: 40%;
}

